#page-not-found {
    position: absolute;
    top: 33%;
    left: 33%;
    right: 33%;
    bottom: 33%;
    background-color: gray;
    opacity: 0.75;
    border-radius: 0.5rem;
    text-align: center;
  }